h4 {
    margin-top: -1em;
    margin-bottom: -0.1em;
    font-weight: lighter;
    font-style: italic;
}

h3 > span {
    font-weight: lighter;
    font-style: italic;
}

.project-content{
    transition: 200ms;
}

.project-content:hover{
    transition: 200ms;
    transform: scale(1.05);
}

.project-content > a {
    text-decoration: none;
    color: black;
}