<div>
    <figure class="float">
        <a href="../assets/images/logo_A.jpg">
            <img src="../assets/images/logo_A_min.jpg" alt="logo">
        </a>
    </figure>
    <span class="afterFloat">
        Lorem ipsum dolor sit amet consectetur adipisi
        cing elit. Porro, temporibus non? Officiis v
    </span>
    <div class="afterFloat">
       Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         At, deleniti voluptates, facilis blanditiis sit ullam 
         esse vitae modi pariatur nulla libero autem? Quo error, nostrum numquam unde fuga corrupti reiciendis.
    </div>
    <a href="#">Ceci est une ancre</a> Et ceci est du texte après le lien
</div>
